<h1>TOURNAMENTS<h1/>
    <form method="post" action="/accounts/login/">
        {% csrf_token %}
        <input type="submit" value="login">
        </form>
    <form method="post" action="/accounts/logout/">
            {% csrf_token %}
            <input type="submit" value="logout">
            </form>
    <form method="post" action="/tournaments/sign_up">
            {% csrf_token %}
            <input type="submit" value="register">
            </form>
        
{% if Tournaments %}


<h5>
    <ul>

    {% for tournament in Tournaments %}
    <fieldset>
        <li><a href="/tournaments/{{ tournament.id }}/">{{ tournament.name }}</a></li>
        Location:
        {{tournament.place}}
     
        <div>
            Date:
            {{tournament.dates}}
        </div>
    
    </fieldset>

    {% endfor %}

    
    </ul>
{% else %}
    <p>No tournaments are available.</p>
{% endif %}
<h5/>